# IntelliJ IDEA Project Files
.idea/
*.iml
*.ipr
*.iws
out/

# Gradle
.gradle/
# Ignore the entire build directory
build/*

# But DO NOT ignore the build/libs directory
!build/libs/

# Compiled class files
*.class

# Log files
*.log

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# Mac OS X
.DS_Store

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Other
# (任何你不想提交的本地配置文件或临时文件)