# IntelliJ IDEA Project Files
.idea/
*.iml
*.ipr
*.iws
out/

# Gradle
.gradle/

# Compiled class files
*.class

# Log files
*.log

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Mac OS X
.DS_Store

# Other

# Default ignore build directory contents
build/*

# But DO NOT ignore the build/libs directory AND its .jar files
!build/libs/
!build/libs/*.jar

# General rule to ignore .jar files elsewhere (THIS MUST COME AFTER the !build/libs/*.jar)
# Or, be more specific if you only want to ignore jars in certain places.
# For now, let's comment this out to ensure build/libs/*.jar is kept.
# If you need to ignore .jar files in other locations, add more specific rules.
# *.jar
# *.war
# *.ear
# *.zip
# *.tar.gz
# *.rar