# IntelliJ IDEA Project Files
.idea/
*.iml
*.ipr
*.iws
out/

# Gradle
.gradle/
# 彻底忽略 build 目录，不再保留任何 jar
build/

# Compiled class files
*.class

# Log files
*.log

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Mac OS X
.DS_Store

# Archives - 防止以后不小心把依赖包传上去
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# Wrapper - 保留 Gradle Wrapper 的 jar
!gradle/wrapper/gradle-wrapper.jar